html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*=================================*/
/*           User styles           */
/*=================================*/

html {
    background: url("../assets/auth_screen.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}

/*=================================*/
/*           Authorization         */
/*=================================*/

#authForm{
    margin-top: 1vh;
    position: absolute;
    z-index: 23;
    width: 70vw;
    height: 79vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    margin-top: 4vh;
    text-decoration: none;
    font: 5vh "Jokerman", Arial, sans-serif;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}

#row_2{
    font: 4vh "Jokerman", Arial, sans-serif;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 12%;
    left: 12%;
    right: 12%;
}

p{
    text-indent: 1.5em; /* Отступ первой строки */
    text-align: center; /* Выравнивание по ширине */
    margin-top: 5vh;
    text-decoration: none;
    font: 3vh "Jokerman", Arial, sans-serif;
    font-weight: bold;
    line-height: 10px;
    color: #000000;
}

.row_3{
    position: absolute;
    display: inline-block;
    width: 49%;
    top: 21%;
}

#row_3_left{
    left: 1%;
    right: 90%;
}

#row_3_right{
    left: 47%;
    right: 50%;
}

.row_4_5{
    position: absolute;
    margin-left: 54.9%;
}

#row_4_right{
    top: 50%;
}

#row_5_right{
    top: 65%;
    height: 3%;
}


.labels{
    text-indent: 1.5em; /* Отступ первой строки */
    text-align: center; /* Выравнивание по ширине */
    margin-top: 5vh;
    text-decoration: none;
    font: 4vh "Jokerman", Arial, sans-serif;
    font-weight: bold;
    line-height: 10px;
}

#login_label{
    margin-top: 20%;
}

#password_label{
    margin-top: 38%;
}

#signin_password {
    top: 82%;
}

#signin_email {
    top: 65%;
}

.form_row input {
    position: absolute;
    height: 4.7vh;
    width: 19.4vw;
    left: 41.6vw;
    opacity: 0.7;
}

.form_btn {
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    position: absolute;
    display: inline-block;
    height: 100px;
    width: 8%;
    outline:none;
    margin-bottom: 20%;
}

#btn_signup{
    top: 70%;
    left: 20%;
}

#btn_login {
    background-image: url("../assets/button_reg_auth.png");
    background-size: contain;
    top: 70%;
    left: 90%;
}

/*=================================*/
/*           Background            */
/*=================================*/

#background {
    width: 70vw;
    height: 79vh;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 22;
    background-color: #b5b6b6;
    border: 10px solid #2398bc;
    opacity: 0.7;
}

/*=================================*/
/*           Registration          */
/*=================================*/

    /*#regForm {*/
        /*width: 800px;*/
        /*height: 500px;*/
        /*background-image: url("../assets/reg_form.png");*/
        /*background-size: contain;*/
        /*background-repeat: no-repeat;*/
        /*position: fixed;*/
        /*top: 50%;*/
        /*left: 50%;*/
        /*transform: translate(-50%, -50%);*/
        /*z-index: 21;*/
    /*}*/

    /*#reg_email{*/
        /*margin-top: 23%;*/
    /*}*/

    /*#reg_login{*/
        /*margin-top: 3.3%;*/
    /*}*/

    /*#reg_password{*/
        /*margin-top: 2.5%;*/
    /*}*/

    /*#reg_btn_signup{*/
        /*margin-left: 10%;*/
    /*}*/

    /*#reg_btn_signin{*/
        /*margin-left: 7%;*/
    /*}*/


/*.background {*/
/*z-index: -1;*/
/*top:0;*/
/*left:0;*/
/*width:100vw;*/
/*height:100vh;*/
/*}*/
