/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, let,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group::before,
.group::after {
    content: "";
    display: table;
}
.group::after {
    clear: both;
}
.group {
    clear: both;
    *zoom: 1;
}

/*=================================*/
/*           User styles           */
/*=================================*/

body{
    /*background-image: url("../assets/web_page_skeleton.png");*/
    /*background-position:center top;*/
    /*background-size:cover;*/
    /*background-repeat: no-repeat;*/
}

#main-screen{
    margin-top: 0.5%;
    margin-left: 0.30%;
    margin-bottom: 0.5%;
    margin-right: 0.30%;
}

#tips{
    margin-top: 5px;
    display: block;
    width: 66%;
    height: 157px;
    background-image: url("../assets/tips_task.png");
    background-position:center top;
    background-size: auto auto;
    background-repeat: no-repeat;
}

#canvas-wrapper{
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

#game{
    border: 1px solid black;
}

#code-area{
    position: absolute;
    display: inline-block;
    margin-left: 5px;
    width: 34%;
    height: 98.5%;
    min-height: 300px;
    background-image: url("../assets/console.png");
    background-position:center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#code{
    width: 98%;
    margin-top: 11%;
    margin-left: 1%;
    height: 84%;
    font-family: "Arial";
    font-size: 22px;
    background-color: transparent;
    border: none;
    border-color: Transparent;
}

#btn-execute{
    display: inline-block;
    position: relative;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 68.6%;
    top: -0.3%;
    width: 27.5%;
    height: 6.5%;
    text-decoration: none;
    font: 20px "Jokerman", Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}

#label_tips_task{
    display: inline-block;
    position: relative;
    margin-top: 7%;
    margin-left: 79.6%;
    top: -0.3%;
    width: 18.3%;
    height: 25%;
    text-decoration: none;
    font: 20px "Jokerman", Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    border: 4px solid #989695;
    background: #4ad0e5;
}

.controls,
.controls:hover {
    color: #555;
    border: 4px solid #989695;
    background: #39e539;
}

.controls:hover {
    background: #32ab22;
    color: white;
}

.background {
    z-index: -1;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/*=================================*/
/*           Tooltips              */
/*=================================*/

.tooltip {
    position: fixed;
    z-index: 100;
    /* подсказка должна перекрывать другие элементы */

    padding: 10px 20px;
    /* красивости... */

    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: italic 16px/1.3 sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

.tooltip strong{
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
    font-size: 18px;
}
